@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

footer,
#one{
    background-color: #1F2937;
    color: #F9FAF8;
}

nav a{
    color: #F9FAF8;
    text-decoration: none;
}

nav a,
.sub{
    font-size: 18px;
    color: #E5E7EB;
}

#logo{
    font-size: 24px;
}

#mainText{
    font-size: 48px;
    font-weight: bolder;
}

button{
    color: #F9FAF8;
    background-color: #3882F6;
}
#two h3{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#three{
    background-color: #E5E7EB;
}

.quote-frame p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

/* Flexbox */

#one{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px 0 20px 0;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.one-inner{
    width: 70%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.sign-up-container{
    width: 40%;
    padding: 10px 0;
}

.img-frame{
    border: 1px solid gray;
    background-color: gray;
    width: 500px;
    height: 300px;
    margin-left: 2em;
    flex-shrink: 0;
}

.img-frame img{
    max-width:100%;
    max-height:100%;
}




